* {
  box-sizing: border-box;
}


.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; 
  position: fixed;
  opacity: 0; 
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;  
  width: 100vw;
  transition: opacity 0.3s ease;

}  



.modal {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
  pointer-events: auto;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}


.modal h1 {
  margin: 0;
  padding: 20px;
}


.modal p {
  font-size: 14px;
  opacity: 0.7;
}

#close {
  margin: 20px;
  appearance: none;
  background-color: #424242;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 8px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  /* display: flex;
  justify-content: space-between; */
  padding-bottom: 5px;
}
  
#close:hover {
  background-color: grey;
}

#modal-title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #dd5803;
  text-shadow: 2px 2px 2px black;
  pointer-events: none;
}


/* 
.modal {
  pointer-events: none;
} */