#spring {
  height: 90vh;
  width: 100vw;
  background-color: #037971;
}

#summer {
  height: 90vh;
  width: 100vw;
  background-color:  #037971;
}

#autumn {
  height: 90vh;
  width: 100vw;
  background-color:  #037971;
}

#winter {
  height: 90vh;
  width: 100vw;
  background-color:  #037971;
}

.hidden {
  display: none;
}