@import './styles/reset.css';
@import './styles/navbar.css'; 
@import './styles/modal.css';
@import './styles/homepage.css';
@import './styles/section.css';
@font-face {
  font-family: Lemon Jelly;
  src: url('./../fonts/LemonJellyPersonalUse-dEqR.ttf');
}
@font-face {
  font-family: Autumn in November;
  src: url('./../fonts/Autumn\ in\ November.ttf');
}
@font-face {
  font-family: Summer Vibes;
  src: url('./../fonts/Summer\ Vibes\ TTF.ttf');
}
@font-face {
  font-family: Autumn in November;
  src: url('./../fonts/Autumn\ in\ November.ttf');
}
@font-face {
  font-family: Snowy;
  src: url('./../fonts/Snowychristmas-L3ZzZ.otf');
}
